@use './variable' as vars;
@use 'mixin' as mix;

// Swiper
.swiper {
  width: 100%;

  &-slide {
    @include mix.flex-center();
    font-size: vars.$font-size-lg;
  }
}

// Tabs
.tabs-container {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;

  .tabs {
    display: flex;
    justify-content: center;
    gap: vars.$gap-1;
    margin-bottom: vars.$spacing-lg;

    &__btn {
      @include mix.button-style(
        $color-primary: vars.$color-primary,
        $color-btn-text: vars.$color-btn-text,
        $color-secondary-hover: vars.$color-secondary-hover,
        $inner-shadow-dark: vars.$inner-shadow-dark
      );
    }
  }
}

// Swiper Wrapper
.swiper-wrapper-custom {
  width: 100%;
}

// Slide Content
.slide-content {
  @include mix.flex-center();
  width: 100%;
  font-size: vars.$font-size-lg;
  color: vars.$color-text;
  border-radius: vars.$border-radius-sm;
  height: 100%;

  .card-item {
    @include mix.flex-center($justify: center, $align: center);

    img {
      width: 100%;
      height: 100%;
      border-radius: vars.$border-radius-sm;
    }
  }

  .grid-card {
    @include mix.grid-card($gap: vars.$gap-1);

    .title {
      font-size: vars.$font-size-title;
    }

    p {
      font-size: vars.$font-size-base;
      color: vars.$color-text;
    }

    .date {
      font-size: vars.$font-size-date;
      color: vars.$color-secondary;
      margin: 0;
    }

    .btn {
      @include mix.button-style(
        $color-primary: vars.$color-primary,
        $color-btn-text: vars.$color-btn-text,
        $color-secondary-hover: vars.$color-secondary-hover,
        $inner-shadow-dark: vars.$inner-shadow-dark
      );
      padding: vars.$spacing-xs vars.$spacing-sm;
      background-color: transparent;
    }
  }
}

//======================== 993斷點 ======================= 
@media (max-width: vars.$breakpoint-lg) {
  .tabs-container{
    max-width: 773px;
  }
}
